.buy-now-button {
  position: fixed;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  bottom: 10%;
  right: 10%;
  background-color: #ed2e34;
  z-index: 1000;
  color: #fff;
  border: none;
  padding: 16px 26px;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #fc4056;
  }
}
